<% include ../partials/header %> 

     <!--<header class="jumbotron">-->
         <div style="text-align:center" class="container">
             <h1><span class="glyphicon glyphicon-home"></span> Welcome To Smart Lease</h1>
             <p>Rent a house hassle free</p>
             <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Create New Lease Agreement</a>
             </p>
         </div>
     <!--</header>-->
     <div class="container">
        <h1>Existing Leases</h1>
     </div>         
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <div class="caption">
                        <h3><%= campground.address %></h3>
                    </div>
                    <p><strong>Owner: </strong><%= campground.ownerName %></p>
                    <p><strong>Tenant: </strong><%= campground.tenantName %></p>
                    <p><strong>Start Date: </strong><%= campground.startDate %></p>
                    <p><strong>Address: </strong><%= campground.address %></p>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer %>
