<% include ../partials/header %>
    <div class="row">
        <div class="col-md-3">
            <!--<p class="lead">Smart Lease</p>-->
            <div class="list-group">
                <li class="list-group-item active">Contact</li>
                <li class="list-group-item">About</li>
                <li class="list-group-item">More Info</li>
            </div>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="caption-full">
                    <center><h2><strong>Lease Details</strong></h2></center>
                    <% if(campground.active) { %>
                        <span class="badge progress-bar-success pull-right">Active</span>
                    <% } else { %>
                        <span class="badge progress-bar-danger pull-right">Inactive</span>
                    <% } %>
                    <br></br>
                    <h4><strong>Owner Name: </strong><%= campground.ownerName %> </h4>
                    <h4><strong>Owner Ethereum Address: </strong><%= campground.ownerEthAddr %></h4>
                    <h4><strong>Tenant Name: </strong><%= campground.tenantName %> </h4>
                    <h4><strong>Tenant Ethereum Address: </strong><%= campground.tenantEthAddr %></h4>
                    <h4><strong>Lease Address: </strong><%= campground.address %></h4>
                    <h4><strong>Deposit: </strong>$<%= campground.deposit %></h4>
                    <h4><strong>Rent: </strong>$<%= campground.rent %>/month</h4>
                    <h4><strong>Lease Start Date: </strong><%= campground.startDate %></h4>
                    <h4><strong>Lease Clauses: </strong><%= campground.contractClause %></h4>
                    
                    <h4>
                        <strong>Lease Created </strong>: <%= moment(campground.createdAt).fromNow() %>
                    </h4>
                    <% if(!campground.active){ %>
                        <div class="form-group">
                            <h4><strong>Lease Key:</strong> </h4>
                            <input class="form-control" type="text" name="leaseKey" id="leaseKey" placeholder="Lease Key">
                        </div>
                        <div class="col-md-5">
                        </div>
                        <div>
                            <p>
                                <a href="/campgrounds/<%= campground._id %>/sign" class="btn btn-primary">Sign Lease</a>
                            </p>
                        </div>    
                    <% } else { %>
                        <div class="col-md-5">
                        </div>
                        <div>
                            <p>
                                <a href="/campgrounds/<%= campground._id %>/pay" class="btn btn-primary">Pay Rent</a>
                            </p>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <script>
        function initMap() {
            var lat = <%= campground.lat %>;
            var lng = <%= campground.lng %>;
            var center = {lat: lat, lng: lng };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: center,
                scrollwheel: false
            });
            var contentString = `
              <strong><%= campground.name %><br />
              <%= campground.location %></strong>
              <p><%= campground.description %></p>
            `
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            var marker = new google.maps.Marker({
                position: center,
                map: map
            });
            marker.addListener('click', function() {
              infowindow.open(map, marker);
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDttjD6qJxRJ06pnFPGAl---pv0O8yrReY&callback=initMap"></script>
<% include ../partials/footer %>